<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="source/static/icon.png">
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<title>100 Things</title>
	<link href="source/css/100things.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container-fluid full-height" id="app">
		<div class="row card-area full-height">
			<div class="col-xs-10 card">
				<div class="title">{{ title }}</div>
				<span class="number">{{ num }}</span>
				<img v-bind:src="show_photo" class="img-circle img-responsive show-photo">
				<div class="thing">{{ thing }}</div>
				<div v-if="author" class="author">- {{author}} -</div>
				<div v-if="blessing" class="blessing">{{ blessing }}}</div>
			</div>
		</div>
	</div>
</body>
<script src="source/js/100things.js"></script>
</html>